In [78]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Define the search query
hashtag = ['#Maggi',
'#MaggiControversy',
'#MaggiNoodles',
'#MaggiBan',
'#MaggiReturns',
'#NestleMaggi',
'#LeadInMaggi',
'#MSGInMaggi',
'#MaggiCrisis',
'#MaggiScandal',
'#MaggiIsBack',
'#MaggiLovers',
'#MaggiMania',
'#MaggiNation',
'#MaggiAddict',
'#MaggiFans',
'#MaggiVsOtherNoodles',
'#MaggiForever']
start_date = '2012-01-01'
lang = 'en'
query = f'{hashtag} since:{start_date} lang:{lang}'

# Use snscrape to scrape tweets
tweets = []
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):
    tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount, tweet.retweetCount])
    if i >= 10000:
        break

# Convert the list of tweets into a pandas DataFrame
columns = ['Date', 'Id', 'Content', 'Username', 'Like Count', 'Retweet Count']
df = pd.DataFrame(tweets, columns=columns)

In [1]:
import pandas as pd
import numpy as np

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sent = SentimentIntensityAnalyzer()

In [3]:
df = pd.read_csv('Maggi Tweets.csv')
df.head()

,Date,Tweet Id,Text,Username,Like Count,Retweet Count
0,2023-03-14 11:47:11+00:00,1635608508463718401,Watching Cooking shows while eating #MAGGI üçú &...,onerarenft,4.0,0.0
1,2023-03-14 11:34:27+00:00,1635605303252361218,Try doc$hak's practical way of making frothy #...,docshak1,1.0,0.0
2,2023-03-14 10:22:13+00:00,1635587126958981123,A Tasty Main course Maggi Fried Rice #maggi #...,DiscoverRecipes,0.0,0.0
3,2023-03-14 06:44:59+00:00,1635532457129697281,.@MaggiIndia is launching its first-ever Non-F...,afaqs,9.0,1.0
4,2023-03-14 05:30:00+00:00,1635513587396673538,"This will bring a few of its offerings, includ...",indstartupnews,7.0,0.0

In [4]:
df['Text'].dtype

dtype('O')

In [5]:
df['Text str'] = df['Text'].astype(str)

In [6]:
df['Text str'].dtype

dtype('O')

In [7]:
# Define a function to convert a float to an encoded string
def encode_float(f):
    return str(f).encode('utf-8')

# Apply the function to the float column using apply()
df['Text'] = df['Text'].apply(encode_float)

In [8]:
df.head()

,Date,Tweet Id,Text,Username,Like Count,Retweet Count,Text str
0,2023-03-14 11:47:11+00:00,1635608508463718401,b'Watching Cooking shows while eating #MAGGI \...,onerarenft,4.0,0.0,Watching Cooking shows while eating #MAGGI üçú &...
1,2023-03-14 11:34:27+00:00,1635605303252361218,"b""Try doc$hak's practical way of making frothy...",docshak1,1.0,0.0,Try doc$hak's practical way of making frothy #...
2,2023-03-14 10:22:13+00:00,1635587126958981123,b'A Tasty Main course Maggi Fried Rice #maggi...,DiscoverRecipes,0.0,0.0,A Tasty Main course Maggi Fried Rice #maggi #...
3,2023-03-14 06:44:59+00:00,1635532457129697281,b'.@MaggiIndia is launching its first-ever Non...,afaqs,9.0,1.0,.@MaggiIndia is launching its first-ever Non-F...
4,2023-03-14 05:30:00+00:00,1635513587396673538,"b'This will bring a few of its offerings, incl...",indstartupnews,7.0,0.0,"This will bring a few of its offerings, includ..."

In [9]:
polarity = [round(sent.polarity_scores(i)['compound'], 2) for i in df['Text str']]
df['sentiment_score'] = polarity

In [10]:
df['sentiment_score'].min()

-0.96

In [11]:
df['sentiment_score'].max()

0.98

In [12]:
def get_category(score):
    if score >= 0.05:
        return 'Positive'
    elif score <= -0.05 :
        return 'Negative'
    else:
        return 'Neutral'

In [13]:
# Apply the get_category function to each row of the dataframe
df['Category'] = df['sentiment_score'].apply(lambda x: get_category(x))

In [14]:
df.head()

,Date,Tweet Id,Text,Username,Like Count,Retweet Count,Text str,sentiment_score,Category
0,2023-03-14 11:47:11+00:00,1635608508463718401,b'Watching Cooking shows while eating #MAGGI \...,onerarenft,4.0,0.0,Watching Cooking shows while eating #MAGGI üçú &...,0.00,Neutral
1,2023-03-14 11:34:27+00:00,1635605303252361218,"b""Try doc$hak's practical way of making frothy...",docshak1,1.0,0.0,Try doc$hak's practical way of making frothy #...,0.00,Neutral
2,2023-03-14 10:22:13+00:00,1635587126958981123,b'A Tasty Main course Maggi Fried Rice #maggi...,DiscoverRecipes,0.0,0.0,A Tasty Main course Maggi Fried Rice #maggi #...,0.00,Neutral
3,2023-03-14 06:44:59+00:00,1635532457129697281,b'.@MaggiIndia is launching its first-ever Non...,afaqs,9.0,1.0,.@MaggiIndia is launching its first-ever Non-F...,0.00,Neutral
4,2023-03-14 05:30:00+00:00,1635513587396673538,"b'This will bring a few of its offerings, incl...",indstartupnews,7.0,0.0,"This will bring a few of its offerings, includ...",0.46,Positive

In [15]:
df.drop(columns=['Text','Tweet Id'],axis=1)

,Date,Username,Like Count,Retweet Count,Text str,sentiment_score,Category
0,2023-03-14 11:47:11+00:00,onerarenft,4.0,0.0,Watching Cooking shows while eating #MAGGI üçú &...,0.00,Neutral
1,2023-03-14 11:34:27+00:00,docshak1,1.0,0.0,Try doc$hak's practical way of making frothy #...,0.00,Neutral
2,2023-03-14 10:22:13+00:00,DiscoverRecipes,0.0,0.0,A Tasty Main course Maggi Fried Rice #maggi #...,0.00,Neutral
3,2023-03-14 06:44:59+00:00,afaqs,9.0,1.0,.@MaggiIndia is launching its first-ever Non-F...,0.00,Neutral
4,2023-03-14 05:30:00+00:00,indstartupnews,7.0,0.0,"This will bring a few of its offerings, includ...",0.46,Positive
...,...,...,...,...,...,...,...
5774,2015-06-04 15:21:42+00:00,NomadWanderer,0.0,0.0,Instant way to this Girls Heart #101 well done...,0.27,Positive
5775,2015-06-04 08:08:23+00:00,supreeth1110,0.0,0.0,#eating #Maggi whole #day #supportmaggi #Maggi...,0.00,Neutral
5776,2014-06-04 22:58:50+00:00,studiochidesign,0.0,0.0,That time.......#naijaantics #almostamidnights...,0.00,Neutral
5777,2014-04-17 14:03:03+00:00,imtryam,0.0,0.0,Destroy a single grain of Maggi Tastemaster an...,-0.83,Negative
5778,2013-12-14 16:28:30+00:00,MagicNate19,0.0,0.0,@Sarah_Burges @SNaruto22 No hurt feelings .. j...,-0.60,Negative

In [16]:
len(df[df['Category']=='Neutral'])

1974

In [17]:
len(df[df['Category']=='Positive'])

2285

In [18]:
len(df[df['Category']=='Negative'])

1520

In [21]:
df.to_csv('Labelled Maggie tweets.csv',index=False)

# MAGGI